/.venv
/.vscode
/1C-DO.csv
/chromedriver.exe
/__pycache__
/data
/bin
/models
/kb_images
__pycache__/
*.py[cod]
*.pyc
**/__pycache__
/content
/keys
/images
/knowledgebase
/arch
result.txt
processed_docs.txt
*.log
/logs
/queries
/debug
/kb_0